.header {
    padding: 60px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: #3C1874;
}

.foot {
    padding: 60px;
    text-align: center;
    font-size: 15px;
    background: white;
    color: #3C1874;
}

.buttons {
    background-color: #283747;
    border: none;
    color: white;
    text-align: center;
    margin: auto;
    padding: 30px 64px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}